# Ambiente Virtual (muito pesado e específico da sua máquina)
.venv/

# Cache do Python (arquivos compilados que o Python cria sozinho)
__pycache__/
*.pyc

# Configurações e Segredos (NUNCA suba arquivos com chaves de API)
.env



# Saídas de execução (opcional - se forem apenas testes)
response.json


# Documentos com informações dos alunos da escola
docs/